<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link href="/display.css" rel="stylesheet">
</head>
<body>
	<div th:object="${doctor}">

			<form action="/doctor/edit" method="POST">
			<section>
				<h1>Update Doctor Profile</h1>
				<p>
					<span th:text="${message}"></span>
				</p>

				<p>
					<label for="doctorId"> <span>ID: </span>
					</label> <input type="text" id="doctorId" th:field="*{doctorId}"  readonly />
				</p>
				<p>
					<label for="doctorFirstName"> <span>First Name: </span>
					</label> <input type="text" id="doctorFirstName" th:field="*{doctorFirstName}"  readonly />
				</p>
				<p>
					<label for="doctorLastName"> <span>Last Name: </span>
					</label> <input type="text" id="doctorLastName" th:field="*{doctorLastName}"  readonly />
				</p>
				<p>
					<label for="specialty"> <span>Specialty: </span>
					</label> <input type="text" id="specialty" th:field="*{specialty}" />
				</p>
				<p>
					<label for="practiceSinceYear"> <span>First Year in Practice: </span>
					</label> <input type="text" id="practiceSinceYear" th:field="*{practiceSinceYear}" />
				</p>

				</section>
				<p>
					<button type="submit">Submit Change</button>
				</p>
			</form>

	</div>
</body>

</html>
