<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link href="/display.css" rel="stylesheet">
</head>
<body>
	<form action="/patient/edit" th:object="${patient}" method="POST">
		<h1>Update Patient Profile</h1>
		<p>
			<span th:text="${message}"></span>
		</p>
		<section>
			<p>
				<label for="patientId"> <span>ID: </span>
				</label> <input type="text" id="patientId" th:field="*{patientId}" readonly />
			</p>
			<p>
				<label for="patientFirstName"> <span>First Name: </span>
				</label> <input type="text" id="patientFirstName" th:field="*{patientFirstName}" readonly />
			</p>
			<p>
				<label for="patientLastName"> <span>Last Name: </span>
				</label> <input type="text" id="patientLastName" th:field="*{patientLastName}" readonly />
			</p>
			<p>
				<label for="patientBirthdate"> <span>BirthDate: </span>
				</label> <input type="text" id="patientBirthdate" th:field="*{patientBirthdate}" readonly />
			</p>
			<p>
				<label for="patientStreet"> <span>Street: </span>
				</label> <input type="text" id="patientStreet" th:field="*{patientStreet}" />
			</p>
			<p>
				<label for="patientCity"> <span>City: </span>
				</label> <input type="text" id="patientCity" th:field="*{patientCity}" />
			</p>
			<p>
				<label for="patientState"> <span>State: </span>
				</label> <input type="text" id="patientState" th:field="*{patientState}" />
			</p>
			<p>
				<label for="patientZip"> <span>Zipcode: </span>
				</label> <input type="text" id="patientZip" th:field="*{patientZip}" />
			</p>
			<p>
				<label for="primaryDoctorId"> <span>Primary Physician
						Id: </span>
				</label> <input type="text" id="primaryDoctorId" th:field="*{primaryDoctorId}" />
			</p>

		</section>
		<p>
			<button type="submit">Submit Change</button>
		</p>
	</form>
</body>
</html>
